[submodule "submodules/gdb-pretty-itk-cmake"]
	path = submodules/gdb-pretty-itk-cmake
	url = https://github.com/thewtex/gdb-pretty-itk-cmake.git
[submodule "submodules/itk-fft-extensions"]
	path = submodules/itk-fft-extensions
	url = https://github.com/thewtex/itk-fft-extensions.git
[submodule "submodules/curvilinear-scan-convert"]
	path = submodules/curvilinear-scan-convert
	url = https://github.com/thewtex/curvilinear-scan-convert.git
